@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700&display=swap');

//abstracts
@import "abstracts/variables";
@import "abstracts/mixins";

//themes

//vendors
@import "vendors/bootstrap";

//base
@import "base/typography";

//layouts
@import "layouts/layout";

//components
@import "components/input";
@import "components/label";
@import "components/button";
@import "components/formMarker";

//pages
@import "pages/register";
