// FONT FAMILY **/
$font-family-base: 'Raleway', sans-serif;

// BREAKPOINTS **/
$breakpoint-tiny-screens: 375px;
$breakpoint-tablet: 600px;
$breakpoint-desktop: 1000px;
$breakpoint-bs-sm: 576px;
$breakpoint-bs-md: 768px;
$breakpoint-bs-lg: 992px;
$breakpoint-bs-xl: 1200px;
$breakpoint-header: 850px;

// COLORS **/
$brand-color: #184B5E;
$brand-color-alt: #FFB600;
$brand-text-color: #fff;
$brand-input-placeholder: #C5C5C5;
$brand-form-info: #69BC27;
$brand-form-info-lighter: #bad8a2b8;
$color-success: #41b661;
$color-danger: #d48080;

$grey: #4a4a4a;
$grey-light: #AAA9A9;
$grey-medium: #4a4a4a80;