.Button {
  box-sizing: border-box;
  border-radius: 9px;
  padding: 13px;
  text-decoration: none;
  min-width: 40%;
  transition: all .5s ease-in-out;

  &:focus {
    outline: none;
  }

  &--brand {
    background-color: rgba(51, 255, 0, 0.31);
    color: $brand-text-color;
    border: 1px solid $brand-form-info;

    &:hover {
      box-shadow: 0px 0px 2px 1px $brand-form-info;
    }

    &--alt {
      background-color: rgba(255, 182, 0, 0.31);
      color: $brand-text-color;
      border: 1px solid $brand-color-alt;

      &:hover {
        box-shadow: 0px 0px 2px 1px $brand-color-alt;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}
